@media only screen and (min-width: 1100px){
    .greeting__note{
        padding-right: 45px;
    }
}
@media only screen and (max-width: 991px) {
    .upacara__bouquet img{
        
    }
}

@media only screen and (max-width: 812px) {
    #lightbox-image.landscape ~ .lightbox__nav.left{
        left: 0;
        background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
        background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        background-repeat: repeat-x;
    }
    #lightbox-image.potrait ~ .lightbox__nav.left{
        left: 0;
    }
    #lightbox-image.landscape ~ .lightbox__nav.right{
        right: 0;
        background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
        background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        background-repeat: repeat-x;
    }
    #lightbox-image.potrait ~ .lightbox__nav.right{
        right: 0;
    }
}

@media only screen and (max-width: 784px) {
    .navbar__menu-wrapper li{
        display: none;
    }
    .navbar__menu-wrapper .navbar__main-title{
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) and (min-width: 500px) {
    .greeting__note-title{
        width: 70%;
        margin: 10px auto;
    }
}
@media only screen and (max-width: 768px) {
    .snapshot__main-wrapper{
        height: 150px;
    }
    .navbar-toggle{ 
        display: block;
    }
    .slider__content-image{
        background-attachment: scroll;
    }

    .slider__main-title{
        font-size: 55px;
    }
    .greeting__note-title p:nth-child(1),
    .greeting__note-title p:nth-child(2){
        font-size: 21px;
        margin: 10px;
    }    
    .greeting__main-wrapper p.greetin__address{
        font-size: 12px;
        margin-bottom: 25px;
        margin-top: 10px;
        text-align: center;
    }
    .greeting__btn-wrapper .btn__btn-small{
        font-size: 12px;
    }

    .greeting__note{
        text-align: center;
    }

    .greeting__main-wrapper .greeting__date{
        display: inline-block;        
        font-size: 24px;
    }

    .greeting__btn-wrapper{
        text-align: center;
    }

    .greeting__main-title{
        text-align: center;
    }    
    .greeting__main-wrapper p{
        font-size: 14px;
    }
    .greeting__main-title,
    .mepandes__main-title{
        font-size: 34px;
    }
    
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }

/* Full-width containers */
    .timeline .container__timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

/* Make sure that all arrows are pointing leftwards */
    .timeline .container__timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }

/* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }

/* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) and (orientation: landscape) { 
    .slider__content-image{
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 425px) {
    .content__wrapper--left{
        text-align: center;
    }
    .greeting__person-image{
        width: 50%;
    }   
    .mepandes__person-image,
    .mepandes__person-image .image{
        height: 125px;
        width: 125px;
    }        
    .greeting__person-image{
        width: 65%;
    }
    .greeting__note-title{
        width: 75%;
        margin: auto;
    }
}

@media only screen and (max-width: 320px) {
    .greeting__main-wrapper .greeting__date{
        font-size: 24px;
    }

    .timeline__header{
        font-size: 24px;
    }

    .acara__lokasi{
        font-size: 14px;
    }
}