@media only screen and (max-width: 991px) {
    .upacara__bouquet img{
        margin-top: 25px;
    }
}

@media only screen and (max-width: 812px) {
    #lightbox-image.landscape ~ .lightbox__nav.left{
        left: 0;
        background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
        background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        background-repeat: repeat-x;
    }
    #lightbox-image.potrait ~ .lightbox__nav.left{
        left: 0;
    }
    #lightbox-image.landscape ~ .lightbox__nav.right{
        right: 0;
        background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
        background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        background-repeat: repeat-x;
    }
    #lightbox-image.potrait ~ .lightbox__nav.right{
        right: 0;
    }
}

@media only screen and (max-width: 784px) {
    .navbar__menu-wrapper li{
        display: none;
    }
    .navbar__menu-wrapper .navbar__main-title{
        display: inline-block;
    }
}
@media only screen and (max-width: 768px) and (min-width: 500px) {
    .greeting__note-title{
        width: 50%;
        margin: 10px auto;
    }
}
@media only screen and (max-width: 768px) {
    .slider__content-image{
        background-attachment: scroll;
    }

    .slider__main-title{
        font-size: 55px;
    }
    .greeting__note-title p:nth-child(1),
    .greeting__note-title p:nth-child(2){
        font-size: 28px;
    }    
    .greeting__main-wrapper p.greetin__address{
        font-size: 12px;
        margin-bottom: 25px;
        margin-top: 10px;
    }
    .greeting__btn-wrapper .btn__btn-small{
        font-size: 12px;
    }

    .greeting__note{
        text-align: center;
    }

    .greeting__main-wrapper .greeting__date{
        display: inline-block;        
        font-size: 24px;
    }

    .greeting__btn-wrapper{
        text-align: center;
    }

    .greeting__main-title{
        text-align: center;
    }

    .greeting__person-image{
        width: 50%;
    }
    .greeting__main-wrapper p{
        font-size: 14px;
    }
    .greeting__main-title,
    .mepandes__main-title{
        font-size: 34px;
    }
    
}

@media only screen and (max-width: 425px) {
    .mepandes__person-image{
        height: 125px;
        width: 125px;
    }        
    .greeting__person-image{
        width: 65%;
    }
    .greeting__note-title{
        width: 75%;
        margin: auto;
    }
}

@media only screen and (max-width: 320px) {
    .greeting__main-wrapper .greeting__date{
        font-size: 24px;
    }
}