@font-face {
    font-family: AutumnIn;
    src: url(../fonts/autumn-in-november.regular.ttf);
}
@font-face {
    font-family: BackToBlack;
    src: url(../fonts/back-to-black-demo.regular.ttf);
}

@font-face {
    font-family: Gothic;
    src: url(../fonts/GOTHIC.TTF);
}

@font-face {
    font-family: GothicBold;
    src: url(../fonts/GOTHICB.TTF);
}

@-webkit-keyframes jump {
    0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
    }
    91%{
    opacity: 1;
    }
    100%{
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 1;
    }
    100%{
    opacity: 0;
    }
  }
  
  @keyframes jump {
    0%{
    transform: translateY(0);
    opacity: 0;
    }
    91%{
    opacity: 1;
    }
    100%{
    transform: translateY(30px);
    opacity: 1;
    }
    100%{
    opacity: 0;
    }
}  

body{
    background-color: #f7f4e1;
}

.main__title{
    font-family: BackToBlack;
    text-align: center;
}

.paragraph__h2{
    font-family: BackToBlack;
    text-align: center;
}

.paragraph__subs{
    text-align: center;
    font-size: 10px;
    color: grey;
}

.paragraph--bold{
    font-weight: bold;
}

.paragraph--maroon{
    color: #490303;
}

.acara__lokasi{
    font-family: Gothic;
    font-size: 18px;
}

.paragraph__p{
    font-size: 14px;    
}

.paragraph__p--center{
    text-align: center;
}
.paragraph__p--justify{
    text-align: justify;
}

.paragraph__quote{
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    font-family: BackToBlack;
    text-align: center;
}

.content__image{
    max-width: 900px;
    margin: 25px auto 50px;    
}

.slider__center-mode-wrapper{
    margin: 20px auto;
}

.slider__center-mode-wrapper .slick-prev:before, 
.slider__center-mode-wrapper .slick-next:before{
    color: #490303;
}
.slider__center-mode-wrapper img{
    width: 150px;
    height: auto;
    margin: auto 10px;
}
.content__image .content__main-image{
    width: 100%;
    height: auto;
}


.title-margin{
    margin: 30px auto 30px;
}

.slider__main-title{
    font-family: BackToBlack;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    color: #e5e5e5;
    font-style: italic;    
    font-size: 70px;
    margin: 0;
}

.slider__slide-down-wrapper{
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

.slider__slide-down-wrapper .slider__slide-down-arrow{
    display: inline-block;
    -webkit-animation: jump 0.75s ease 0s infinite normal;
    animation: jump 0.75s ease 0s infinite normal;
}

.slider__main-wrapper{
    position: relative;
    /* overflow: hidden; */
}
.slider__content-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
.slider__content-image.half{
    background-position: top;
}

.navbar{
    border-radius: 0;
}

.slider__main-wrapper .navbar.navbar__stick-top{
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 100;
    box-shadow: 0 3px 16px 0px #2d1010;
}

.navbar__navbar-maron{
    background-color: #490303;    
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 100;
}

.navbar{
    box-shadow: 0 3px 16px 0px #2d1010;
}

.slider__main-wrapper .navbar{
    position: absolute;
    width: 100%;
    bottom: 0;
    top: initial;
    margin: 0;
    box-shadow: none;
}

.navbar__menu-wrapper{
    color: #ffffff;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar__menu-wrapper li{
    display: inline-block;
    margin: 10px 15px;
    font-size: 18px;
    font-family: Gothic;
}

.navbar__menu-wrapper li.navbar__main-title{
    margin: 10px 0;    
}

.navbar__menu-wrapper li a{
    color: #ffffff;
    text-decoration: none;
}

.navbar__menu-wrapper li a:hover{
    color: #ff6d6d;
    transition: all .5s ease;
}

.slick-list.draggable,
.slick-track{
    height: 100%;
    width: 100%;
}

.navbar__menu-wrapper .navbar__main-title{
    font-family: AutumnIn;
}

.mepandes__main-title{
    font-family: AutumnIn;
    margin-bottom: 25px;
    text-align: center;
    font-size: 44px;
    color: #330f0f;
}

/* .mepandes__person-wrapper{
    
} */

.mepandes__person-image{
    height: 150px;
    width: 150px;
    border-radius: 500px;
    background-color: grey;
    margin: auto;    
    overflow: hidden;
}

.mepandes__person-image .image{
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    transition: all .25s ease;
}

.mepandes__person-image:hover .image{
    transform: scale(1.2, 1.2);
    transition: all .25s ease;
}

.mepandes__person-name{
    color: #ffffff;
    font-family: Gothic;
    margin: 0;
}

.upacara__upacara-wrapper{
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    color: #330F0F;
    margin: 20px 0;
}

.upacara__upacara-wrapper h2{
    font-family: Gothic;
    font-weight: bold;    
}

.upacara__upacara-name{
    font-family: AutumnIn;    
    font-size: 25px;
}

.upacara__upacara-date{
    font-size: 25px;
    font-weight: bold;
    border-top: 2px solid #630000;
    border-bottom: 2px solid #630000;
    display: inline-block;
}

.upacara__upacara-time{
    font-size: 16px;
    margin-bottom: 20px;
}

.upacara__upacara-time--bold{
    font-weight: bold;
}

.upacara__bouquet{
    text-align: center;
}

.upacara__bouquet img{
    height: 150px;
}

.upacara__upacara-wrapper .btn__btn-small{
    margin-top: 20px;
}

.content__wrapper--center{
    text-align: center;
}

.content__wrapper--left{
    text-align: left;
}

.btn__btn-small{
    cursor: pointer;
    padding: 10px;
    font-family: Gothic;
}

.btn__btn-maron{
    background-color: #330f0f;
    border: 2px solid #330f0f;
    color: #ffffff;
    font-weight: bold;
}

.btn__btn-maron:hover,
.btn__btn-maron:focus{
    color: #330f0f;
    background-color: #f7f4e1;
    text-decoration: none;
    transition: .25s all ease;
}

.footer__main-wrapper{
    background-color: #490303;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer__menu-wrapper{
    list-style: none;
    color: #ffffff;
    margin: 0;
}

.footer__menu-wrapper li{
    display: inline-block;
    padding: 10px;    
}

.footer__menu-wrapper li a{
    color: #ffffff;
}

.greeting__main-title{
    font-family: AutumnIn;
    font-size: 44px;
    color: #330f0f;
    margin-bottom: 30px;
}

.greeting__main-wrapper{
    padding: 25px 0;
    margin-top: 50px;
}

.greeting__main-wrapper p{
    font-family: GothicBold;
    font-size: 18px;    
}

.greeting__closing-wrapper{
    display: block;
    text-align: right;
}

.greeting__closing-wrapper p:nth-child(1){
    text-align: left;
    margin-bottom: 28px;
}

.greeting__closing-wrapper .greeting__signature{
    font-family: AutumnIn;
    font-size: 28px;
    color: #330f0f;
}

.greeting__person-image{
    width: 70%;
    height: auto;
}
.greeting__note{
    text-align: center;
    height: 100%;
}
.greeting__note-title{
    margin: 10px auto;
    display: inline-block;    
    overflow: hidden;    
}

.greeting__main-wrapper .greeting__date{
    font-size: 36px;
    font-weight: bold;
    border-top: 2px solid #330f0f;
    border-bottom: 2px solid #330f0f;
    text-align: center;    
    display: inline-block;
    font-family: GothicBold;
    color: #330F0F;
}

.greeting__address{
    color: #330F0F;
    font-weight: bold;
    font-family: Gothic;
    text-align: center;
}

.greeting__note-title p:nth-child(1){
    font-family: BackToBlack;
    font-size: 36px;    
    color: #330F0F;
    display: inline;
    margin: 10px 20px;
}

.greeting__note-title p:nth-child(2){    
    font-family: GothicBold;
    font-size: 36px;
    font-weight: bold;
    color: #330F0F;
    display: inline;
    margin: 10px 20px;
}

.greeting__btn-wrapper{
    /* overflow: hidden; */
    width: 100%;
    position: relative;
    text-align: center;
    margin: 15px 0;
}

.greeting__btn-wrapper .btn__btn-small{
    font-size: 18px
}

.navbar-toggle{
    position: absolute;
    padding: 7px 10px;
    right: 0;
    top: 0;
}

.navbar-toggle .icon-bar{
    border: 1px solid #fff;
}

.navbar__mobile-menu-wrapper{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #490303;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.navbar__mobile-menu-wrapper.open{
    right: 0;
    transition: 1s right ease;
}

.navbar__mobile-menu-wrapper.open.unopen{
    right: 100%;
    transition: 1s right ease;
}

.navbar__mobile-menu{
    padding: 0;
    position: relative;
    bottom: -50px;
    opacity: 0;
}

.navbar__mobile-menu.open{
    opacity: 1;
    bottom: 0;
    transition: all 0.5s ease;
    transition-delay: .5s;
}

.navbar__mobile-menu.open.unopen{
    bottom: 50px;
    opacity: 0;
    transition: all .5s ease;
}

.navbar__mobile-menu li{
    list-style: none;    
    padding: 10px;
    text-align: center;
}

.navbar__mobile-menu li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.navbar__close-toggler{
    color: #ffffff !important;
    position: absolute;
    font-size: 25px;
    top: 30px;
    right: 30px;
    font-weight: 600;
}

.loader__main-wrapper{
    text-align: center;
    margin: 25px 0;
}

.gallery__image-wrapper{
    overflow: hidden;
    width: 100%;    
    height: 250px;
    /* margin: 0 0 10px; */
    box-shadow: 0 0 18px 0px #999 inset;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery__image-wrapper img{
    position: absolute;
    width: 70px;
    height: auto;
}
.gallery__image{
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    animation-name: loadIn;
    animation-duration: 1s;
    cursor: pointer;
    transform: scale(1, 1);
    transition: all .5s ease;
    opacity: 0;
    display: none;
}

.gallery__image-wrapper .gallery__image.loaded{
    display: block;
    opacity: 1;
    transition: all .25s ease;
    /* transition-delay: .5s; */
}

.gallery__image-wrapper:hover .gallery__image.loaded{
    transform: scale(1.1,1.1);
    transition: all .25s ease;
}

#gallery__grid-wrapper div[class^= "col-"],
#snapshot div[class^= "col-"]{
    margin: 10px 0;    
}

@keyframes loadIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#loading-bar{
    display: block;
    margin: auto;
}

.modal-body{
    padding: 0;
}

#lightbox-modal .modal-content{
    background-color: transparent;
    box-shadow: none;
    border: none;
}

#lightbox-image.potrait{    
    width: auto;
    margin: auto;
    display: block;
}
#lightbox-image.landscape{
    width: 100%;
    height: auto;
}

.lightbox__nav{
    display: inline-block;
    position: absolute;
    color: #9E9E9E;
    top: 0;  
    height: 100%;  
    font-size: 25px;
    cursor: pointer;
}

.lightbox__nav i{
    top: 50%;
}

.lightbox__nav:hover i{
    color: #eee;
}

/* #lightbox-image.potrait ~ .lightbox__nav.left{
    left: 54.9063px;
}

#lightbox-image.potrait ~ .lightbox__nav.right{
    right: 54.9063px;
} */

/* #lightbox-image.landscape ~ .lightbox__nav.left{
    left: -30px;
}

#lightbox-image.landscape ~ .lightbox__nav.right{
    right: -30px;
} */

#lightbox-image ~ .lightbox__nav.left{
    left: -30px;
}

#lightbox-image ~ .lightbox__nav.right{
    right: -30px;
}
#lightbox-modal .modal-footer{
    border: none;
    padding: 0;
}

.lightbox__text{
    color: #EEE;
    position: absolute;
}

.lightbox__close{
    font-size: 12px;
    height: 30px;
    width: 30px;
    border-radius: 500px;
    background-color: #222222;
    color: #e9e9e9;
    text-align: center;
    padding-top: 5px;
    border: 2px solid #e9e9e9;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    top: -10px;
    right: -10px;
}

.snapshot__main-wrapper{
    height: 250px;
    overflow: hidden;    
    position: relative;
}

.snaphost__image{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all .25s ease;  
}

.snapshot__main-wrapper:hover .snaphost__image{
    transform: scale(1.1,1.1);
    transition: all .25s ease;
}

.snapshot__white-box{
    border: 1px solid #eeeeee;        
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snapshot__white-box p{
    font-family: AutumnIn;
    font-size: 24px;
    color: #eee;
}   

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;    
    position: relative;
}

.slider__slider-rail .animated-background,
.slider__static-big .animated-background,
.content__image .animated-background{
    display: flex;
    align-items: center;    
    justify-content: center;
}

.snapshot__main-wrapper .animated-background{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__slider-rail .animated-background img.loader,
.snapshot__main-wrapper img.loader,
.slider__static-big .animated-background img.loader,
.content__image .animated-background img.loader{
    position: absolute;
    width: 100px;
    height: auto;
    z-index: -1;
}

.copyright{
    color: #ffffff;
    font-size: 12px;
}

.copyright a{
    color: #ffffff;
}

.copyright span{
    color: #da2020;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .timeline .container__timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .timeline .container__timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    border: 4px solid #490303;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -12px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 5px 5px 16px 0px #2d1010;
  }
  
  .timeline__header{
    color: #490303;
    font-family: AutumnIn;    
  }

  .timeline .content p{
      font-family: Gothic;
  }

  .timeline__prosesi-image-wrapper{
      background-color: grey;
      overflow: hidden;
      border-radius: 500px;
      height: 150px;
      width: 150px;
      margin: auto;
  }

  .timeline__prosesi-image{
      width: 150px;
      height: 150px;
      background-position: center;
      background-size: cover;
  }